%rebase('osnova.html', naslov='Admin')



<h1 style="background-color:rgb(255, 99, 71);">ADMIN</h1>
<br>
<div class="elementAdmin">
	<h2>Tekmovalci</h2>
	<p>
		<a href="/admin/izpis_tekmovalcev">Izpis tekmovalcev</a>
	</p>
	<p>
		<a href="/admin/dodaj_tekmovalca">Dodajanje tekmovalcev</a>
	</p>
	<p>
		<a href="/admin/popravi_tekmovalca">Urejanje podatkov o tekmovalcu</a>
	</p>
</div>

<div class="elementAdmin">
	<h2>Tekmovanja</h2>
	<p>
		<a href="/admin/izpis_tekmovanj">Izpis tekmovanj</a>
	</p>
	<p>
		<a href="/admin/dodaj_tekmovanje">Dodajanje tekmovanj</a>
	</p>
	<p>
		<a href="/admin/popravi_tekmovanje">Urejanje podatkov o tekmovanju</a>
	</p>
</div>

<div class="elementAdmin">
	<h2>Rezultati</h2>
	<p>
		<a href="/admin/dodaj_rezultat">Dodaj rezultat</a>
	</p>
</div>

<div class="elementAdmin">
	<h2>Posodobi</h2>
	<p>
		<a href="/admin/naj_posodobi">Posodobi točkovanje</a>
	</p>
</div>