%rebase('osnova.html', naslov='Admin')


<!--a se da narest tako, da na isti strani vidi admin več podatkov kakor obiskovalec-->

<div class="w3-container">
Admin
</div>
<h2>Tekmovalci</h2>
<p>
<a href="/admin/izpis_tekmovalcev">Klikni za izpis tekmovalcev</a>
</p>
<p>
<a href="/admin/dodaj_tekmovalca">Klikni za dodajanje tekmovalcev</a>
</p>
<p>
<a href="/admin/popravi_tekmovalca">Klikni za urejanje podatkov o tekmovalcu</a>
</p>
<h2>Tekmovanja</h2>
<p>
<a href="/admin/izpis_tekmovanj">Klikni za izpis tekmovanj</a>
</p>
<p>
<a href="/admin/dodaj_tekmovanje">Klikni za dodajanje tekmovanj</a>
</p>
<p>
<a href="/admin/popravi_tekmovanje">Klikni za urejanje podatkov o tekmovanju</a>
</p>
<h2>Rezultati</h2>
<p>
<a href="/admin/dodaj_rezultat">Dodaj rezultat</a>
</p>
<h2>Posodobi</h2>
<!--tukaj mora biti samo link, ki izvede eno funkcijo v pythonu-->