%rebase('osnova.html', naslov='Admin')



<h1 style="background-color:rgb(255, 99, 71);">ADMIN</h1>
<br>
<div class="elementAdmin">
	<h2>Tekmovalci</h2>
	<p>
		<a href="/admin/izpis_tekmovalcev">
			<i class="fas fa-users"></i>
			Izpis tekmovalcev
		</a>
	</p>
	<p>
		<a href="/admin/dodaj_tekmovalca">
			<i class="fas fa-user-plus"></i>
			Dodajanje tekmovalcev
		</a>
	</p>
	<p>
		<a href="/admin/popravi_tekmovalca">
			<i class="fas fa-user-edit"></i>
			Urejanje podatkov o tekmovalcu
		</a>
	</p>
</div>

<div class="elementAdmin">
	<h2>Tekmovanja</h2>
	<p>
		<a href="/admin/izpis_tekmovanj">
			<i class="fas fa-receipt"></i>
			Izpis tekmovanj
		</a>
	</p>
	<p>
		<a href="/admin/dodaj_tekmovanje">
			<i class="fas fa-calendar-plus"></i>
			Dodajanje tekmovanj
		</a>
	</p>
	<p>
		<a href="/admin/popravi_tekmovanje">
			<i class="fas fa-pen-square"></i>
			Urejanje podatkov o tekmovanju
		</a>
	</p>
</div>

<div class="elementAdmin">
	<h2>Rezultati</h2>
	<p>
		<a href="/admin/dodaj_rezultat">
			<i class="fas fa-plus-square"></i>
			Dodaj rezultat
		</a>
	</p>
</div>

<div class="elementAdmin">
	<h2>Posodobi</h2>
	<p>
		<a href="/admin/naj_posodobi">
			<i class="fas fa-sync-alt"></i>
			Posodobi točkovanje
		</a>
	</p>
</div>