%rebase('osnova.html', naslov='Posodobi')


<h1 style="background-color:rgb(255, 99, 71);">Posodobi</h1>
<p>
    Posodobi točkovanje
</p>

<div>
    <form method="POST" action="/admin/posodobi">
        <table>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="Posodobi" name="posodobi" class="w3-button w3-orange"/>
                </td>
            </tr>
        </table>

    </form>
</div>

<form method="get" action="/admin">
    <button class="gumb">Na administratorsko stran</button>
</form>
