%rebase('osnova.html', naslov='Glavna stran')




<h1 class="w3-amber">PRIMORSKI POKALNI TEKI</h1>
    <br>
    <p>Domača stran primorskih pokalnih tekov</p>

<div class="element">
	<h2>Tekmovalci</h2>
	<p>
		<a href="/izpis_tekmovalcev">Klikni za izpis tekmovalcev</a>
	</p>
</div>

<div class="element">
	<h2>Tekmovanja</h2>
	<p>
		<a href="/izpis_tekmovanj">Klikni za izpis tekmovanj</a>
	</p>
</div>

<div class="element">
	<h2>Rezultati</h2>
	<p>
		<a href="/poisci_rezultat_tekmovalca">Išči rezultate tekmovalca po sezoni</a>
	</p>
	<p>
		<a href="/rezultati_tekmovanja">Oglej si rezultate tekmovanja</a>
	</p>
	<p>
		<a href="/rezultati_tekmovanja_kategorija">Oglej si rezultate tekmovanja v izbrani kategoriji</a>
	</p>
</div>
<!--<a href="/izpis_pristanisc">-->
    <!--<img src="static/slike/Slike_glavna/Pristanisca.png" alt="Izpis pristanišč", height =150>-->
<!--</a>-->

<!--<a href="/izpis_kabin">-->
    <!--<img src="static/slike/Slike_glavna/Kabine.png" alt="Izpis kabin", height =150>-->
<!--</a>-->


<!--<a href="/potovanje">-->
    <!--<img src="static/slike/Slike_glavna/Vozovnice.png" alt="Izpis kabin", height =150,-->
         <!--style="margin-top: 70px; margin-bottom: 100px;">-->
<!--</a>-->
