%rebase('osnova.html', naslov='Glavna stran')




<div class="w3-container">
Živjo, tukaj je glavna stran za teke
</div>
<h2>Tekmovalci</h2>
<p>
<a href="/admin/izpis_tekmovalcev">Klikni za izpis tekmovalcev</a>
</p>
<p>
<a href="/admin/dodaj_tekmovalca">Klikni za dodajanje tekmovalcev</a>
</p>
<p>
<a href="/admin/popravi_tekmovalca">Klikni za urejanje podatkov o tekmovalcu</a>
</p>
<h2>Tekmovanja</h2>
<p>
<a href="/admin/izpis_tekmovanj">Klikni za izpis tekmovanj</a>
</p>
<p>
<a href="/admin/dodaj_tekmovanje">Klikni za dodajanje tekmovanj</a>
</p>
<p>
<a href="/admin/popravi_tekmovanje">Klikni za urejanje podatkov o tekmovanju</a>
</p>
<p>
<h2>Rezultati</h2>
</p>
<p>
<a href="/admin/dodaj_rezultat">Dodaj rezultat</a>
</p>
<p>
<h2>Točkovanje</h2>
</p>
<!--<a href="/izpis_pristanisc">-->
    <!--<img src="static/slike/Slike_glavna/Pristanisca.png" alt="Izpis pristanišč", height =150>-->
<!--</a>-->

<!--<a href="/izpis_kabin">-->
    <!--<img src="static/slike/Slike_glavna/Kabine.png" alt="Izpis kabin", height =150>-->
<!--</a>-->


<!--<a href="/potovanje">-->
    <!--<img src="static/slike/Slike_glavna/Vozovnice.png" alt="Izpis kabin", height =150,-->
         <!--style="margin-top: 70px; margin-bottom: 100px;">-->
<!--</a>-->
