%rebase('osnova.html', naslov='Tekmovalci')


<h1 class="w3-amber">Tekmovalci</h1>


    <table id="tabele" class="w3-table-all">
        <thead>
        <tr>
            <th scope="col">Ime</th>
            <th scope="col">Priimek</th>
            <th scope="col">Letnik</th>
            <th scope="col">Spol</th>
            <th scope="col">Klub</th>
        </tr>
        </thead>
        <tbody>

            % tekmovalci.sort(key = lambda x:x[1])
            % for _, ime, priimek, rojstni, spol, klub in tekmovalci:
            % rojstni = rojstni[0:4]
            % print(rojstni)
            <tr>
                <td>{{ime}}</td>
                <td>{{priimek}}</td>
                <td>{{rojstni[0:4]}}</td>
                <td>{{spol}}</td>
                <td>{{klub}}</td>
            </tr>
            % end

        </tbody>
    </table>


<form method="get" action="/">
    <p>
        <button class="w3-button w3-amber">Nazaj</button>
    </p>
</form>


