%rebase('osnova.html', naslov='Iskanje rezultata')


<h1 class="w3-amber">Rezultati v sezoni</h1>
<p>
    Časi in rezultati tekmovalca {{ime}} na posameznih tekmah v sezoni {{letnica}}.
</p>
<table id="tabele" class="w3-table-all">
    <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Kraj</th>
            <th scope="col">Dolžina</th>
            <th scope="col">Čas</th>
            <th scope="col">Uvrstitev: Skupno</th>
            <th scope="col">Uvrstitev: Kategorija</th>
        </tr>
    </thead>
    <tbody>
        %for datum, kraj, dolzina, cas, uvrstitev1, uvrstitev2 in udelezba:
        <tr>
            <td align="center">{{datum}}</td>
            <td align="center">{{kraj}}</td>
            <td align="center">{{dolzina}}</td>
            <td align="center">{{cas}}</td>
            <td align="center">{{uvrstitev1}}</td>
            <td align="center">{{uvrstitev2}}</td>
        </tr>
        %end
    </tbody>
</table>
<p><br></p>
<h1 class="w3-amber">Uvrstitev tekmovalca v sezoni {{letnica}}</h1>
<table id="tabele2" width="500" border="1">
    <thead>
        <tr>
            <th scope="col">Točke: skupno</th>
            <th scope="col">Točke: kategorija</th>
            <th scope="col">Uvrstitev: skupno</th>
            <th scope="col">Uvrstitev: kategorija</th>
        </tr>
    </thead>
    %print(uvrstitev)
    <tbody>
        %(_, _, _, _, tocke1, tocke2, uvrstitev1, uvrstitev2) = uvrstitev
            <tr>
                <td align="center">{{tocke1}}</td>
                <td align="center">{{tocke2}}</td>
                <td align="center">{{uvrstitev1}}</td>
                <td align="center">{{uvrstitev2}}</td>
            </tr>
        %end
    </tbody>

</table>
<p><br></p>
<form method="get" action="/">
    <button class="w3-button w3-amber">Nazaj</button>
</form>
