%rebase('osnova.html', naslov='Rezultati tekme')


<h1 class="w3-amber">Rezultati tekmovanja</h1>
<p>
    Rezultati v izbrani kategoriji na izbranem tekmovanju.
</p>
<table id="tabele" class="w3-table-all">
    <thead>
        <tr>
            <th scope="col">Mesto</th>
            <th scope="col">Čas</th>
            <th scope="col">Ime</th>
            <th scope="col">Priimek</th>
        </tr>
    </thead>
    <tbody>
        %for i in range(1,len(rezultati)+1):
        %   _, cas, ime, priimek = rezultati[i-1]
        %   if i == 1:
        %       k0 = 1
        %       k1 = 1
        %   elif cas == rezultati[i-2][1]:
        %       k1 = k0
        %   else:
        %       k0 = i
        %       k1 = i
        %   end
        <tr>
            <td align="center">{{k1}}</td>
            <td align="center">{{cas}}</td>
            <td align="center">{{ime}}</td>
            <td align="center">{{priimek}}</td>
        </tr>
        %end
    </tbody>

</table>
<p><br></p>
<form method="get" action="/">
    <button class="w3-button w3-amber">Nazaj</button>
</form>
